

<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-language nav-item">
        <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
            <div class="arrow_box">
                <a class="dropdown-item" href="#" onclick="changeLanguage('en')">
                    <i class="flag-icon flag-icon-us"></i> English
                </a>

                <a class="dropdown-item" href="#" onclick="changeLanguage('tr')">
                    <i class="flag-icon flag-icon-tr"></i> Turkish
                </a>

            </div>
        </div>
    </li>
</ul>


<script>
    function changeLanguage(culture) {
        var supportedCultures = ["en", "fr", "es", "gr", "tr", "de"]; // Desteklenen kültürler

        // Geçerli kültürün desteklenen kültürler içinde olduğundan emin olun
        if (supportedCultures.indexOf(culture) !== -1) {
            // URL'yi işlemek için bir URL nesnesi oluşturun
            var url = new URL(window.location.href);

            // Query string'den mevcut culture parametresini alın
            var currentCulture = url.searchParams.get("culture");

            // Eğer culture parametresi zaten varsa, onu güncelleyin
            if (currentCulture) {
                url.searchParams.set("culture", culture);
            } else {
                // Culture parametresi yoksa, yeni olarak ekleyin
                url.searchParams.append("culture", culture);
            }

            location.href = url.toString();
        } else {
            console.error("Unsupported culture: " + culture);
        }
    }
  
</script>
    