@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_MemberNewLayout.cshtml";
}

<h1>Şifrenizi Yenileyin</h1>

<form id="resetPasswordForm" method="post">
    <label>Şifrenizi Giriniz</label>
    <input type="text" id="Password" class="form-control" asp-for="Password" autocomplete="off" required />

    @*<span asp-validation-for="Password" class="text-danger"></span>*@
    <br />
    <br />

    <label>Şifrenizi Tekrar Giriniz</label>
    <input type="text" id="ConfirmPassword" class="form-control" autocomplete="off" asp-for="ConfirmPassword" required />
    <br />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


    <br />
    <button class="btn btn-primary">Şifreyi Güncelle</button>
    <br />
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#resetPasswordForm").submit(function (e) {
            if ($("#Password").val() !== $("#ConfirmPassword").val()) {
                e.preventDefault(); // Formun gönderilmesini engelle
                $("#ConfirmPassword").siblings(".text-danger").text("Şifreler uyuşmuyor");

            }
        });
    });
</script>