@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rota Güncelleme</h1>


<form method="post">

   <input type="hidden"  asp-for="DestinationId"/>
    <div class="form-group">
        <label>Şehir</label>
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Gün Gece</label>
        <input type="text" asp-for="DayNight" id="personcount" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Fiyat</label>
        <input type="text" asp-for="Price" id="restime" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Ana Görsel</label>
        <input type="text" asp-for="Image" id="description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Kapasite</label>
        <input type="text" asp-for="Capasity" id="description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Kapak Görseli</label>
        <input type="text" asp-for="CoverImage" id="description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Görsel 2 </label>
        <input type="text" asp-for="Image" id="description" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Detay 1</label>
        <textarea cols="30" rows="5" asp-for="Details1" class="form-control"></textarea>
    </div>
    <br />
    <div class="form-group">
        <label>Detay 2</label>
        <textarea cols="30" rows="5" asp-for="Details2" class="form-control"></textarea>
    </div>

    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
