
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>


<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

<body>
   
    
    <div class="row">

        @await Component.InvokeAsync("_DashboardBanner")

        @await Component.InvokeAsync("_Cards1Statistik")

        @await Component.InvokeAsync("_TotalRevenue")

        @await Component.InvokeAsync("_Cards2Statistic")

    </div>
    <div class="row">
        <!-- Order Statistics -->
        @await Component.InvokeAsync("_DestinationStatistic")
        <!--/ Order Statistics -->
        <!-- Expense Overview -->
        @await Component.InvokeAsync("_DestinationStatistic2")
        <!--/ Expense Overview -->
        <!-- Transactions -->
        @await Component.InvokeAsync("_AdminGuideList")
        <!--/ Transactions -->
    </div>
   
</body>
</html>
